<div class="bookFlight">
  <div class="sidebar">
    <div class="verticalList"><h2>FLIGHTS</h2></div>
    <div class="verticalList"><h2>UPGRADES</h2></div>
    <div class="verticalList"><h2>HOTEL</h2></div>
    <div class="verticalList"><h2>CAR</h2></div>
  </div>
  <div class="bookInfo">
    <div class="infoNav">
      <h3>Recent Searches</h3>
      <h3>Go to multi-city flights</h3>
      <h3>Book a flight($)</h3>
      <h3>Book a reward ticket</h3>
    </div>
    <div class="toFrom">
      <div class="fromBox">
        <h4>FROM</h4>
      </div>
      <div class="toBox">
        <h4>TO</h4>
      </div>
    </div>
    <div class="departReturn">
      <div class="departure">
        <h4>DEPARTURE</h4>
      </div>
      <div class="return">
        <h4>RETURN</h4>
      </div>
    </div>

    <div class="radio">
      <div class="radioLineTrip">

      </div>
      <div class="radioLineClass">

      </div>
      <div class="radioLineDates">

      </div>
      <div class="passengers">
        <select class="adults" name=""></select><p>Adults</p>
        <select class="children" name=""></select><p>Children</p>
        <select class="infants" name=""></select><p>Infants</p>

      </div>
    </div>
  </div>

</div>
