<div class="bookFlight">
  <ul>
    <li>FLIGHTS</li>
    <li>UPGRADES</li>
    <li>HOTEL</li>
    <li>CAR</li>
  </ul>
  <div class="bookInfo">
    <ul>
      <li>Recent Searches</li>
      <li>Go to multi-city flights</li>
      <li>Book a flight($)</li>
      <li>Book a reward ticket</li>
    </ul>
    <div class="fromBox">
      <h4>FROM</h4>
    </div>
    <div class="toBox">
      <h4>TO</h4>
    </div>
    <div class="departure">
      <h4>DEPARTURE</h4>
    </div>
    <div class="return">
      <h4>RETURN</h4>
    </div>
    <div class="radio">
      <div class="radioLineTrip">

      </div>
      <div class="radioLineClass">

      </div>
      <div class="radioLineDates">

      </div>
      <div class="passengers">
        <select class="adults" name=""></select><p>Adults</p>
        <select class="children" name=""></select><p>Children</p>
        <select class="infants" name=""></select><p>Infants</p>

      </div>
    </div>
  </div>
  <h1>Book Flight</h1>

</div>
