<div class="nav">
  <div class="navInfo">
    <div class="navDivBottom">
      <h3>TRAVEL</h3>
      <h3>TO PLAN</h3>
      <h3>SERVICES</h3>
    </div>
    <div class="NavDivTop">
      <p>Contact Us</p>
      <div class="form-group">
         <input type="text" class="form-control" placeholder="Search">
       </div>
       <div class="btn-group">
       <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Small button <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
         <h5>English</h5>
       </ul>
     </div>
    </div>
  </div>
</div>
