.bookingMenu {
  width: 1400px;
  height: 120px;
  background: white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}

.bookYourTrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webCheckIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.manageBooking {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connectMiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flightInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
